/*   body style*/
body {
  background: #00b3e6;
 
}

/*   div style*/
div {
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue';
  background: white;
  padding: 30px;
}

/*   main header style*/
#main-header {
  color: red;
  font-size: 22px;
}

/*   perspective-questions style*/
.perspective-questions {
  font-style: italic;
}
